#sudo gedit /etc/systemd/system/phd2.service

[Unit]
Description=PHD2 Autoguiding server
# After=graphical.target
After=multi-user.target

[Service]
Type=idle
# MUST SET YOUR USERNAME HERE.
User=gnthibault
Environment=LD_LIBRARY_PATH=/usr/local/lib:/usr/lib
Environment="DISPLAY=:0"
# "XAUTHORITY=/home/obs/.Xauthority"
ExecStart=/usr/bin/phd2
Restart=always
RestartSec=3

[Install]
# WantedBy=graphical.target
WantedBy=multi-user.target

#sudo systemctl daemon-reload
#sudo systemctl enable phd2.service
