[Unit]
Description=INDI Web Manager
After=multi-user.target

[Service]
Type=idle
# MUST SET YOUR USERNAME HERE.
User=LOCAL_USER_NAME
Environment=LD_LIBRARY_PATH=/usr/local/lib:/usr/lib
ExecStart=/opt/remote_observatory_venv/bin/indi-web -v --fifo /tmp/indiFIFO_guiding_camera --indi-port 7627 --port 8627 --xmldir LOCAL_INSTALL_PATH/../conf_files/indi_driver_xml --conf LOCAL_INSTALL_PATH/../conf_files/indi_driver_conf

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

#sudo cp ./indiwebmanager_guiding_camera.service /etc/systemd/system/
#sudo systemctl daemon-reload
#sudo systemctl enable indiwebmanager_guiding_camera.service
#sudo systemctl restart indiwebmanager_guiding_camera.service
#sudo systemctl status indiwebmanager_guiding_camera.service
#journalctl -u indiwebmanager_guiding_camera.service

#git clone https://github.com/knro/indiwebmanager (push)
#python ./setup.py install --prefix /home/LOCAL_USER_NAME/.local/

