[Unit]
Description=INDI Web Manager
After=multi-user.target

[Service]
Type=idle
# MUST SET YOUR USERNAME HERE.
User=LOCAL_USER_NAME
Environment=LD_LIBRARY_PATH=/usr/local/lib:/usr/lib
ExecStart=/opt/remote_observatory_venv/bin/indi-web -v --xmldir LOCAL_INSTALL_PATH/../conf_files/indi_driver_xml --conf LOCAL_INSTALL_PATH/../conf_files/indi_driver_conf

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
